body { background-color: #AAC4FF;} hr
{
border-style: none; border-top-style: dotted; border-color: #3282B8; border-width: 5px; width: 10%;
}
h1 { color: black;} h2 { color: black;} h3 { color: black;}
